.contentContainer button:not(.zx) {
  padding: 0;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  border-style: none;
}

.contentContainer input:not(.inpt){
  border-radius: 6px;
  box-sizing: border-box;
  height: 40px;
  padding-left: 4px;
  border-style: none;
}

button:hover{
  background-color: cadetblue;
  cursor: pointer;
  color: black;
  }
  